@import "config";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: $gutter * 2;
  min-height: 50vh;
  background-color: #999;
  background-size: cover;
  background-repeat: no-repeat;

  &--main {
    background-image: url("../img/header.jpg");
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #ccc;
  }

  &__class {
    display: block;
    position: relative;
    font-size: 1rem;
    font-family: $font-heading;
    text-transform: uppercase;
    z-index: 1;
  }

  &__title {
    position: relative;
    font-size: 3rem;
    font-family: $font-heading;
    z-index: 1;
    
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: $gutter * 2;
  list-style: none;

  &__filter {
      font-size: 1.5rem;
      font-family: $font-heading;
      font-weight: bold;
      background-color: #ccc;
      padding: $gutter / 2 $gutter;
      margin-right: $gutter;
      margin-left: $gutter;
      border-radius: 16px;
      cursor: pointer;
      transition: background-color 300ms ease-in-out;

      &:hover {
          background-color: #999;
      }

      &--active {
          background-color: #2d2;

          &:hover {
          background-color: #1a1;
          }
      }
  }
}